 # Ignore PNG files
*.png

# Ignore JSON files
*.json

# Python virtual environment and dependency files
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# Build artifacts
build/
dist/
*.egg-info/

# Logs and temporary files
*.log
*.tmp

# vEnv
.DS_Store
